.container {
  @include flex-center;
  width: 20rem;
  height: 7rem;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 3rem;
  cursor: pointer;
  margin: 50px;
}

.red {
  border-color: $theme--red;
  color: $theme--red;
}
.blue {
  border-color: $theme--blue;
  color: $theme--blue;
}
