.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 47%;
  padding: 20px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 2rem;
  border: 2px solid rgba($color: #000000, $alpha: 0.01);
  background-color: rgba($color: #000000, $alpha: 0.05);
  cursor: pointer;
  span:first-child {
    color: $theme--red;
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  span:last-child {
    color: black;
  }
}

.red {
  border-color: $theme--red;
  color: $theme--red;
}
.blue {
  border-color: $theme--blue;
  color: $theme--blue;
}
.clicked {
  border-color: $theme--red;
}
// .A-color {
//   color: rgb(168, 92, 168);
// }
