.container {
  // position: fixed;
  // top: 50%;
  // left: 50%;
  width: 30vw;
  // transform: translate(-50%, -50%);
  // height: 70vh;
  background-color: $bg--element1;
  padding: 30px;
  border-radius: 5px;
}

.header {
  margin-bottom: 40px;
  h1 {
    font-size: 2.4rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .pro {
    margin-bottom: 5px;
    font-size: 1.8rem;
    font-weight: 500;
  }
  .tags {
    display: flex;
    align-items: center;
    font-weight: 600;
    span {
      // color: $blue;
      font-size: 1.3rem;
      margin-right: 4px;
    }
  }
}

.contents {
  font-size: 1.7rem;
  line-height: 1.3;
}

.red-color {
  color: $theme--red;
}
.blue-color {
  color: $theme--blue;
}
