.container {
  // position: fixed;
  // top: 50%;
  // left: 50%;
  width: 30vw;
  // transform: translate(-50%, -50%);
  // height: 70vh;
  background-color: $bg--element1;
  padding: 30px;
}

.header {
  margin-bottom: 40px;
  h1 {
    font-size: 2.4rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .pro {
    margin-bottom: 7px;
    font-size: 1.8rem;
  }
  .tags {
    display: flex;
    align-items: center;
    span {
      color: $blue;
      font-size: 1.3rem;
      margin-right: 3px;
    }
  }
}

.contents {
  font-size: 1.7rem;
}
