.wrapper {
  background-color: $bg--main-page;
}

.container {
  @include desktop--main-page;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 0;
  margin-bottom: 100px;
  .row {
    margin-bottom: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    h1 {
      text-align: center;
      margin-bottom: 80px;
      font-size: 2.7rem;
    }
  }
  .cards {
    @include flex-center;
  }
}

.backdrop {
  // position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba($color: #000000, $alpha: 0.3);
}

.footer {
  padding-bottom: 50px;
  p {
    margin-bottom: 5px;
    font-size: 1.3rem;
  }
}

.red-color {
  color: $theme--red;
}
.blue-color {
  color: $theme--blue;
}
.red-bg {
  background-color: $theme--red;
}
.blue-bg {
  background-color: $theme--blue;
}

.red-border {
  border-color: $theme--red;
}
.blue-border {
  border-color: $theme--blue;
}
