.container {
  width: 100%;
  height: 100vh;
}

.choose {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.red {
  width: 50%;
  background-color: $theme--red;
}
.blue {
  width: 50%;
  background-color: $theme--blue;
}

.get-name-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  padding: 20px;
  width: 450px;
  height: 150px;
  background-color: white;

  .inputs {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    .name {
      font-size: 2.5rem;
      margin-right: 10px;
    }
    .input {
      @include flex-center;

      input {
        padding: 3px;
        text-align: center;
        border: 2px solid black;
        border-radius: 3px;
        font-size: 2rem;
      }
    }
  }

  .btn {
    margin: 0 auto;
    width: 50%;
  }
  button {
    @include flex-center;
    padding: 10px 0;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    border-radius: 5px;
  }
}
