.container {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
}

.choose {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.red {
  width: 50%;
  background-color: $theme--red;
}
.blue {
  width: 50%;
  background-color: $theme--blue;
}

.get-name-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  padding: 20px 50px;
  // width: 30vw;
  // height: 150px;
  background-color: black;
  border: 2px solid $theme--red;
  border-radius: 5px;
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    .ment {
      @include flex-center;
      margin-bottom: 10px;
      color: $theme--red;
      font-size: 2rem;
    }
    input {
      all: unset;
      padding: 3px;
      margin-bottom: 50px;
      height: 3rem;
      width: 20rem;
      text-align: center;
      border: 2px solid whitesmoke;
      border-radius: 5px;
      font-size: 2rem;
      background-color: black;
      // background-color: aliceblue;
      color: $whiteSmoke;
      &:focus {
        border: 2px solid $theme--red;
      }
    }
    .got-name {
      border: 2px solid $theme--red;
    }
    .btns {
      @include flex-center;
      button {
        all: unset;
        @include flex-center;
        margin: 10px;
        padding: 5px 0;
        width: 10rem;
        border: 2px solid whitesmoke;
        color: whitesmoke;
        font-size: 2rem;
        border-radius: 5px;
        cursor: pointer;
      }
      .clicked {
        // border: 2px solid $light-green;
        border: 2px solid $theme--red;
        // color: $light-green;
        color: $theme--red;
      }
    }
  }

  .start-btn {
    @include flex-center;
    margin-bottom: 30px;
  }

  button {
    all: unset;
    @include flex-center;
    padding: 5px 0;
    width: 13rem;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    // &:hover {
    //   color: $theme--red;
    // }
  }
  .ready {
    border-color: $theme--red;
    color: $theme--red;
  }
  .tester-count {
    @include flex-center;
    color: whitesmoke;
    font-size: 1.5rem;
    span {
      margin: 0 3px;
    }
  }
}
