.container {
  @include page-config;
  background-color: $bg--main-page;
  padding-bottom: 100px;
  .wrapper {
    margin-bottom: 100px;
    padding: 100px 20px;
    height: 500px;
  }
}

.red-gradient {
  background: linear-gradient(355deg, $bg--main-page 300px, $theme--red 0);
}
.blue-gradient {
  background: linear-gradient(355deg, $bg--main-page 300px, $theme--blue 0);
}

.header {
  @include flex-center;
  margin-bottom: 50px;
  h1 {
    font-size: 3.5rem;
    color: white;
  }
}

.tips {
  @include flex-center;
  .tip {
    @include flex-center;
    // width: 25vw;
    // height: 14vw;
    margin: 10px;
    padding: 80px 30px;
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    border-radius: 10px;
    font-size: 2.5rem;
  }
}

.main {
  margin: 0 auto;
  width: 80%;
}

.section {
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
  padding-bottom: 150px;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);

  .title {
    margin-bottom: 100px;
    font-size: 5rem;
    font-weight: 600;
  }
  .question {
    display: flex;
    justify-content: center;
    height: 600px;
    // background-color: black;
    .baduk-board {
      @include flex-center;
      position: relative;
      width: 600px;
      height: 100%;
      margin-right: 20px;
    }
    .btns {
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;
      height: 100%;
      padding: 10px 0;
      border-radius: 10px;
      // background-color: rgba(245, 237, 245, 0.822);
    }
  }
}
.section:nth-child(4) {
  border: none;
  padding: 0px;
}

.submit {
  @include flex-center;
  button {
    @include flex-center;
    // width: 20rem;
    // height: 7rem;
    padding: 20px 30px;
    color: white;
    font-size: 2rem;
    border-radius: 50px;
  }
}

.overlay-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  .mbti-card {
    @include flex-center;
    margin-bottom: 100px;
  }
  .ment {
    @include flex-center;
    margin: 0 auto 30px auto;
    padding: 20px 0;
    width: 70%;
    background-color: rgba($color: #ffffff, $alpha: 0.7);
    border-radius: 50px;
    span {
      margin: 3px;
      font-size: 3rem;
      font-weight: 600;
      &:first-child {
        color: black;
      }
    }
  }
  .overlay-btns {
    @include flex-center;
    button {
      @include flex-center;
      // width: 20rem;
      padding: 20px 30px;
      margin: 0px 30px;
      font-size: 2rem;
      color: white;
      border-radius: 50px;
    }
  }
}

.red-bg {
  background-color: $theme--red;
}
.blue-bg {
  background-color: $theme--blue;
}

.red-border {
  border-color: $theme--red;
}
.blue-border {
  border-color: $theme--blue;
}
.red-color {
  color: $theme--red;
}
.blue-color {
  color: $theme--blue;
}
