$border-radius: 5px;

.container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: $notice-z_index;
  display: flex;
  flex-direction: column;
  width: 400px;
}
.header {
  @include flex-between;
  padding: 1.3rem 1.5rem;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  .result {
    font-size: 1.5rem;
    font-weight: 600;
  }
  button {
    font-size: 1.8rem;
    color: $gray;
    &:hover {
      color: $grayDark;
    }
  }
}

.message {
  padding: 1.7rem;
  font-size: 1.5rem;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}
.successed {
  .header {
    background-color: $success;
    color: rgb(2, 48, 2);
  }
  .message {
    background-color: #d5fbd5;
    color: rgb(2, 48, 2);
  }
}
.failed {
  .header {
    background-color: $error;
    color: #721c24;
  }
  .message {
    background-color: #f4e4e5;
    color: #721c24;
  }
}
.loading {
  .header {
    background-color: #afb5ee;
    color: $black;
  }
  .message {
    background-color: #c7ccf7;
    color: $black;
  }
}

//////////////////////////////////////////////////

@include mobile {
  .container {
    top: 0;
    left: 0;
    width: 100%;
  }
}
