.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $nav-height;
  background-color: $bg--element1;
  z-index: $nav-z_index;
}
.nav {
  width: $desktop-nav-width;
  height: 100%;
  @include flex-between;
  margin: 0 auto;
}
.logo {
  font-size: 2rem;
}
.btns {
  display: flex;
  align-items: center;
  a {
    margin-right: 3rem;
    font-size: 2rem;
  }
}
