@mixin page-config {
  height: $main-height;
  margin-top: $nav-height;
}

@mixin desktop--main-page {
  width: $desktop-nav-width;
  margin: 0 auto;
  @include page-config;
}

@mixin desktop--post-page {
  width: 768px;
  margin: 0 auto;
  @include page-config;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin desktop {
  @media (min-width: 1025px) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}
@mixin mobile {
  @media (min-width: 320px) and (max-width: 480px) {
    @content;
  }
}

// 메인화면에 포스트 2개
@mixin multi-posts {
  @media (min-width: calc($single-post-max + 1)) and (max-width: $multi-post-max) {
    @content;
  }
}

// 메인화면에 포스트 1개
@mixin single-posts {
  @media (max-width: $single-post-max) {
    @content;
  }
}
