$basic-font-size: 1.6rem;
$basic-textarea-padding: 15px;
$desktop-nav-width: 1024px;
$nav-height: 6.5rem;
$main-height: calc(100vh - $nav-height);
$modal-header-height: 50px;

// overlay
$backdrop-z_index: 30;
$modal-z_index: calc($backdrop-z_index + 1);

// colors

$theme--red: red;
$theme--blue: blue;

$bg--main-page: #f8f9fa;
$bg--element1: #ffffff;
$bg--element2: #f8f9fa;
$blue: #6b7af7;
$indigo: #6610f2;
$purple: #9a77dc;
$pink: #f4d3e7;
$red: #e60f6c;
$orange: #fd7e14;
$yellow: #ffd89d;
$green: #82d268;
$teal: #20c997;
$cyan: #c7cdff;
$white: #fff;
$gray: #828086;
$grayDark: #3f3f3f;
$primary: #6b7af7;
$secondary: #828086;
$success: #82d268;
$info: #c7cdff;
$warning: #ffd89d;
$danger: #e60f6c;
$light: #f0f0f5;
$dark: #616063;
$whiteSmoke: #f5f5f5;
$cloud: #ecf0f1;
$black: #000;
